src/__pycache__/
data/grayscale_example/
data/segmentation_example/my_scan_events/
results/grayscale_example/image_registration/test_shift_x.npy
results/grayscale_example/image_registration/test_shift_y_warp.npy
results/grayscale_example/reconstruction_l1/test_shift_reconstructed.npy
